<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite Test Restorant" verbose="1">
    <!-- El siguiente parametro se pasa a todos los tests de la SUITE -->
    <parameter name="tester-name" value="Tomas" />
    <test name="Testing Ejerccio TestNG">
        <classes>
<!--            <class name="test.java.demoPrecedencia">-->
            <class name="restaurant.IngredienteTest">
                <!-- si especifica el <methods> solo corre el test de ese/esos metodos,
                si no corre el test de toda la clase-->
<!--                <methods>-->
<!--                    <include name="test1" />-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
    <test name="Testing Usuario">
        <classes>
            <class name="restaurant.UsuarioTest"></class>
        </classes>
    </test>
</suite>
